.message {
    text-align: start;
    max-width: 80%;
    border-radius: 8px;
    background-color: var(--mantine-color-blue-7);
    word-wrap: break-word;
    padding: 12px;
    height: auto !important;
}

.light {
    background-color: var(--mantine-color-blue-4);
}

.dark {
    background-color: var(--mantine-color-blue-7);
}

.currentUser {
    align-self: flex-end;
}

.otherUser {
    align-self: flex-start;
}

.username {
    display: flex;
    align-items: center;
}
