.message {
    text-align: start;
    max-width: 80%;
    border-radius: 8px;
    word-wrap: break-word;
    padding: 12px;
    height: auto !important;
    background-color: var(--mantine-color-blue-7);
}

.clarence {
    background-color: var(--mantine-color-violet-7) !important;
}

.currentUser {
    align-self: flex-end;
}

.otherUser {
    align-self: flex-start;
}
